.years {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  justify-content: space-between;

  &_item {
    border: 1px solid rgb(212, 212, 212);
    margin-right: 10px;
    font-size: 0.8rem;
    padding: 2px 15px;
    border-radius: 15px;
    letter-spacing: 2px;
    color: rgb(212, 212, 212);
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    transition: all .5s ease-in-out;

    &:hover {
        cursor: pointer;
    }

    &--active {
    background-color: rgb(144, 0, 255);
    color: #FFF;
    padding: 2px 15px 2px 5px;
    }

    &_check {
      font-size: 1rem;
      margin-right: 5px;
    }
  }
}
