.races {
  background-color: #f5f7fa;
  padding-bottom: 20px;

  &_years {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
  }

  &_cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;

    .time {
      font-size: 0.75rem;
      letter-spacing: 2px;
      font-style: italic;
      font-weight: 600;
    }

    .team {
      margin: 10px 0 0;
      font-size: 1rem;
      font-weight: bold;
    }

    .laps {
      font-size: 0.75rem;
      font-weight: 600;
      color: #8e8e8e;
    }
  }
}

@media all and (max-width: 877px) {
  .races {
    &_cards {
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
  }
}

@media all and (max-width: 700px) {
  .races {
    &_cards {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
  }
}

@media all and (max-width: 544px) {
  .races {
    &_cards {
      grid-template-columns: 1fr;
    }
  }
}
